#heading{
    text-align: center;
    text-transform: capitalize;
}

*{
    font-family: Times New Roman;
    padding: 0;
    margin: 0;
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}

#PS3{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 110px;
}

#nav-bar{
    padding-left: 20px;
    height: 60px;
    background-color: black;
    color: white;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}